/* Angular Material */
@import '~@angular/material/_theming.scss';
@include mat-core();

// Default theme
$primary: mat-palette($mat-deep-orange);
$accent:  mat-palette($mat-indigo);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.color-warn {
    color: mat-color($warn);
}

// Dark theme
.dark-theme {
    $dark-primary: mat-palette($mat-indigo);
    $dark-accent:  mat-palette($mat-lime, A200, A100, A400);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent);
    @include angular-material-theme($dark-theme);
}


// Body margin zero
body {
    margin: 0;
}
