<app-projectnav [projectId]="projectId | async" [activeTabName]="'cases'"></app-projectnav>

<app-bodycontent *ngIf="cases">
  <div fxLayout="row" fxLayoutAlign=" center" style="margin-bottom: 16px">
    <h2 fxFlex>Cases</h2>
    <a md-raised-button color="primary" [routerLink]="['new']">NEW</a>
  </div>

  <div *ngFor="let group of cases">
    <h3>{{group.sectionName}}</h3>
    <md-card>
      <md-card-content>
        <md-list>
            <md-list-item *ngFor="let case of group.cases; let i = index">
              <span>{{i + 1}}: </span>
              <span fxFlex>{{case.step}}</span>
              <md-chip-list *ngIf="case.isCarefully"><md-chip color="accent" selected="true">Carefully</md-chip></md-chip-list>
              <button md-button [mdMenuTriggerFor]="caseMenu">MENU</button>
              <md-menu #caseMenu="mdMenu">
                <button md-menu-item (click)="editCase(case.id)">EDIT</button>
                <button md-menu-item disabled>DELETE</button>
              </md-menu>
            </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

</app-bodycontent>
