<app-projectnav [projectId]="projectId | async" [activeTabName]="'testplans'"></app-projectnav>

<app-bodycontent *ngIf="plan">
  <div fxLayout="row" fxLayoutAlign=" center">
    <div fxFlex>
      <h2>{{plan.name}}</h2>
      Due date:
      <span *ngIf="plan.dueDate; else tbd">{{plan.dueDate}}</span>
      <ng-template #tbd>TBD</ng-template>
    </div>
    <button md-button>EDIT</button>
    <button md-button color="warn">DELETE</button>
  </div>

  <h3>Cases</h3>
  <div *ngFor="let case of plan.cases">
    <md-card>
      
      {{case | json}}
    </md-card>
  </div>

  <!--
  <md-card *ngFor="let group of grouped.entries()">
    <md-card-title fxLayout="row" fxLayoutAlign=" center">
      <span fxFlex>{{group[0]}}</span>
    </md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let testcase of group[1]">
          ({{testcase.id}}, {{testcase.revision}}): 
          <span fxFlex>{{testcase.step}}</span>      
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  -->

</app-bodycontent>
