<app-projectnav [projectId]="projectId | async" [activeTabName]="'plans'"></app-projectnav>

<app-bodycontent *ngIf="plan">
  <div fxLayout="row" fxLayoutAlign=" center">
    <div fxFlex>
      <h2>{{plan.name}} <span *ngIf="plan.completed">(Completed)</span></h2>
      Due date:
      <span *ngIf="plan.dueDate; else tbd">{{plan.dueDate}}</span>
      <ng-template #tbd>TBD</ng-template>
    </div>
    <button md-button color="accent" (click)="toggleComplete()" [disabled]="submitting || plan.completed">COMPLETE</button>
    <button md-button>EDIT</button>
    <button md-button color="warn">DELETE</button>
  </div>

  <h3>Cases</h3>
  <md-card *ngFor="let case of plan.cases" style="margin:8px;">
    <md-card-title>{{case.sectionName}}</md-card-title>
    <md-card-content>
      <md-progress-bar
        [mode]="'buffer'"
        [value]="case.okCount * 100 / case.cases.length"
        [bufferValue]="(case.okCount + case.ngCount) * 100 / case.cases.length">
      </md-progress-bar>

      OK: {{case.okCount}}<br />
      NG: {{case.ngCount}}<br />
      NotTest: {{case.notTestCount}}  
    </md-card-content>
  </md-card>

</app-bodycontent>
