<app-projectnav [projectId]="projectId | async" [activeTabName]="'testplans'"></app-projectnav>

<app-bodycontent *ngIf="testplan">
  <div fxLayout="row" fxLayoutAlign=" center">
    <h2 fxFlex>{{testplan.name}}</h2>
    <button md-button color="warn">DELETE</button>
  </div>

  <h3>Sections</h3>
  {{grouped | json}}

  <!--
  <md-card *ngFor="let group of grouped.entries()">
    <md-card-title fxLayout="row" fxLayoutAlign=" center">
      <span fxFlex>{{group[0]}}</span>
    </md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let testcase of group[1]">
          ({{testcase.id}}, {{testcase.revision}}): 
          <span fxFlex>{{testcase.step}}</span>      
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  -->

</app-bodycontent>
