<nav md-tab-nav-bar color="primary">
  <a md-tab-link [routerLink]="['../../../']">Overview</a>
  <a md-tab-link [routerLink]="['./']" [active]="true">Milestones</a>
  <a md-tab-link>Testcases</a>
  <a md-tab-link>Testrun</a>
</nav>

<div *ngIf="milestones" style="margin: 16px">
  <div fxLayout="row" fxLayoutAlign=" center" style="margin-bottom: 16px">
    <h2 fxFlex>{{milestones.length}} Milestones</h2>
    <a md-raised-button color="primary" [routerLink]="['new']">NEW</a>
  </div>

  <md-card *ngFor="let milestone of milestones">
    <md-card-title>{{milestone.name}}</md-card-title>
    <md-card-subtitle>
      <div *ngIf="milestone.expectedCompleteDate as expected; else tbd">Will complete at {{expected | date}}</div>
      <ng-template #tbd>TBD</ng-template>
    </md-card-subtitle>
    <md-card-content>
      <div style="text-align: end">{{milestone.progress}} %</div>
      <md-progress-bar [value]="milestone.progress"></md-progress-bar>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end ">
      <a md-button>VIEW</a>
      <a md-button color="accent">RUN TESTS</a>
    </md-card-actions>
  </md-card>


  <hr style="margin: 32px 0" />

</div>