<app-projectnav [projectId]="projectId | async" [activeTabName]="'plans'"></app-projectnav>

<app-bodycontent>
  <div fxLayout="row" fxLayoutAlign=" center">
    <h2 fxFlex>Plans</h2>
    <a [routerLink]="['new']" md-raised-button color="primary">NEW</a>
  </div>

  <h3>Active</h3>
  <md-card>
    <md-list>
      <md-list-item *ngFor="let plan of activePlans">
        <h3 fxFlex>{{plan.name}}</h3>
        <div *ngIf="plan.dueDate; else tbd">{{plan.dueDate}}</div>
        <ng-template #tbd>TBD</ng-template>
        <a [routerLink]="[plan.id]" md-button color="accent">VIEW</a>
      </md-list-item>
    </md-list>
  </md-card>

  <div fxLayout="row" fxLayoutAlign=" center">
    <h3 fxFlex>Complete</h3>
    <button (click)="showCompletes = !showCompletes" md-button color="primary">
      <span *ngIf="showCompletes; else show">HIDE</span>
      <ng-template #show>SHOW</ng-template>
    </button>
  </div>
  <md-card *ngIf="showCompletes">
    <div *ngFor="let plan of completedPlans">
      {{plan | json}}
    </div>
  </md-card>
</app-bodycontent>
