<app-projectnav [projectId]="projectId | async" [activeTabName]="'plans'"></app-projectnav>

<app-bodycontent>
  <h2>New Testplan</h2>

  <md-card>
    <form #testplanForm="ngForm" (ngSubmit)="onSubmit(testplanForm)">
      <md-card-content fxLayout="column">
        <md-input-container>
          <input name="name" required ngModel mdInput placeholder="Name">
          <md-error>Required.</md-error>
        </md-input-container>
        <md-input-container>
          <input name="description" ngModel mdInput placeholder="Description">
          <md-error>Required.</md-error>
        </md-input-container>

        <h4>Case</h4>
        <md-radio-group name="pattern" required ngModel="Section" style="margin-bottom: 16px">
          <md-radio-button value="Section" checked="checked">Sections</md-radio-button>
          <md-radio-button value="Fail">All failed tests</md-radio-button>
          <md-radio-button value="Custom" disabled>Custom</md-radio-button>
        </md-radio-group>

        <div *ngIf="testplanForm.form.value.pattern == 'Section'">
          <h4>Select sections.</h4>
          <div *ngFor="let section of sectionNames | async">
            <md-checkbox name="sections[]" value="{{section}}" (change)="onChangeSelect($event)">{{section}}</md-checkbox>
          </div>
        </div>

        <md-input-container>
          <input name="leaderName" required ngModel mdInput placeholder="Leader Name">
          <md-error>Required.</md-error>
        </md-input-container>

        <md-input-container>
          <input type="date" name="dueDate" ngModel mdInput placeholder="Due date">
        </md-input-container>

      </md-card-content>

      <md-card-actions fxLayoutAlign="end center">
        <div [hidden]="!submitting"><md-spinner color="accent" style="width:24px;height: 24px"></md-spinner></div>
        <md-checkbox [(ngModel)]="moreCreate" [ngModelOptions]="{standalone: true}" style="margin-right: 16px">More</md-checkbox>
        <button type="submit" [disabled]="testplanForm.form.invalid || submitting" md-raised-button color="primary">CREATE</button>
      </md-card-actions>
    </form>
  </md-card>
</app-bodycontent>
