<nav md-tab-nav-bar color="primary">
  <a md-tab-link [routerLink]="['./']" [active]="true">Overview</a>
  <a md-tab-link [routerLink]="['testcases']">Testcases</a>
  <a md-tab-link>Testrun</a>
</nav>

<div *ngIf="project" style="margin: 16px">
  <div fxLayout="row" fxLayoutAlign=" center">
    <h2 fxFlex>{{project.name}}</h2>
    <a md-button>EDIT</a>
    <a md-button color="warn">DELETE</a>
  </div>
  <p style="margin-bottom: 16px">{{project.description}}</p>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <md-card>
      <h3>{{project.testcases.length}} testcases</h3>
    </md-card>
  </div>

</div>
