<app-projectnav [projectId]="projectId | async" [activeTabName]="'testruns'"></app-projectnav>

<app-bodycontent>
  <div fxLayout="column" style="max-width: 375px">
    <h2>Target plan</h2>
    <md-select placeholder="Select plan" [(ngModel)]="selectPlanId" (change)="onSelectPlan(selectPlanId)">
      <md-option *ngFor="let plan of plans" [value]="plan.id">{{plan.name}}</md-option>
    </md-select>
  </div>

  <md-card *ngIf="selectPlan && selectCase" style="margin: 32px 0">
    <md-card-actions fxLayout="row" fxLayoutAlign=" center">
      <button md-button color="accent" (click)="onSelectCase(selectCaseIndex - 1)">Prev</button>
      <button md-button color="accent" (click)="onSelectCase(selectCaseIndex + 1)">Next</button>
      <span fxFlex></span>
      <md-button-toggle-group [(ngModel)]="selectCase.lastResult">
        <md-button-toggle value="Ok" (click)="sendResult(selectCase, selectPlanId, 'Ok')">OK</md-button-toggle>
        <md-button-toggle value="Ng" (click)="sendResult(selectCase, selectPlanId, 'Ng')">NG</md-button-toggle>
        <md-button-toggle value="NotTest" (click)="sendResult(selectCase, selectPlanId, 'NotTest')">Not test</md-button-toggle>
      </md-button-toggle-group>
    </md-card-actions>
    <md-card-header class="test-warn" *ngIf="selectCase.isCarefully" fxLayoutAlign=" center">Please test carefully.</md-card-header>

    <md-card-content>
      <h3>Precondition</h3>
      <markdown *ngIf="selectCase.precondition; else nopre;" [data]="selectCase.precondition"></markdown>
      <ng-template #nopre><p>Nothing.</p></ng-template>
      <h3>Step</h3>
      <markdown [data]="selectCase.step"></markdown>
      <h3>Expectation</h3>
      <markdown *ngIf="selectCase.expectation; else noexp;" [data]="selectCase.expectation"></markdown>
      <ng-template #noexp><p>Nothing.</p></ng-template>
    </md-card-content>
  </md-card>

  <div *ngIf="selectPlanId && selectPlan" style="margin: 32px 0">
    <h3>Not tests</h3>
    <md-card style="margin: 16px 0">
      <md-list>
        <div *ngFor="let case of selectPlan.cases | filterBy: ['lastResult']: 'NotTest'; let i = index" fxLayout="row" fxLayoutAlign=" center">
          <span>{{i + 1}}: </span>
          <div fxFlex>{{case.step}}</div>
          <md-chip-list *ngIf="case.isCarefully" style="margin: 0 8px;">
            <md-chip color="warn" selected="true">Careful</md-chip>
          </md-chip-list>

          <md-select [(ngModel)]="case.lastResult" (change)="sendResult(case, selectPlan.id, case.lastResult)">
            <md-option [value]="'Ok'" color="primary">OK</md-option>
            <md-option [value]="'Ng'">NG</md-option>
            <md-option [value]="'NotTest'">NotTest</md-option>
          </md-select>
        </div>
      </md-list>
    </md-card>

    <h3>All Cases</h3>
    <md-card style="margin: 16px 0">
      <md-list>
        <md-list-item *ngFor="let case of selectPlan.cases; let i = index">
          <span>{{i + 1}}: </span>
          <span fxFlex>{{case.step}}</span>
          <md-chip-list *ngIf="case.isCarefully" style="margin: 0 8px;">
            <md-chip color="warn" selected="true">Careful</md-chip>
          </md-chip-list>

          <md-select [(ngModel)]="case.lastResult" (change)="sendResult(case, selectPlan.id, case.lastResult)">
            <md-option [value]="'Ok'" color="primary">OK</md-option>
            <md-option [value]="'Ng'">NG</md-option>
            <md-option [value]="'NotTest'">NotTest</md-option>
          </md-select>
        </md-list-item>
      </md-list>
    </md-card>

  </div>
</app-bodycontent>
